<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/home/eiji/Desktop/bitmaker/projects/final-project/meet-in-the-middle/app/assets/stylesheets/styles.css">
  <title>Document</title>
</head>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<body>
  <div class="background-image">
    <div class="center-text">
      <p class="meet-text">Meet, MeetInTheMiddle</p>
      <p class="meet-text-blurb">MeetInTheMiddle allows anyone to quickly decide on a meeting spot by
        calculating the central location point of you and your friends and giving
         you suggestions based on what type of activity you want to do. Be sure to sign
         up for free to use the full featured web app!! </p>
    </div>
  </div>

  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row-team">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Team</h2>
          <h3 class="section-subheading text-muted">Team MeetInTheMiddle.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="circle-img" src="/home/eiji/Desktop/bitmaker/projects/final-project/meet-in-the-middle/app/assets/images/albert_crop.png" alt="">
            <h4>Albert Burchi</h4>
            <p class="text-muted">Developer</p>
            <div class="social-media">
              <div class="social-media-icons">

              </div>
            </div>
          </div>
          <a href="https://www.linkedin.com/in/albert-burchi-47607796/" class="fa fa-linkedin"></a>
          <a href="https://github.com/AdditionalTesting" class="fa fa-github"></a>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="circle-img" src="/home/eiji/Desktop/bitmaker/projects/final-project/meet-in-the-middle/app/assets/images/eiji_crop.jpg" alt="">
            <h4>Eiji Mine</h4>
            <p class="text-muted">Developer</p>
            <div class="social-media">
              <a href="https://www.linkedin.com/in/albert-burchi-47607796/" class="fa fa-linkedin"></a>
              <a href="https://github.com/AdditionalTesting" class="fa fa-github"></a>
            </div>
            <ul class="list-inline social-buttons">
              <!-- <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="circle-img" src="/home/eiji/Desktop/bitmaker/projects/final-project/meet-in-the-middle/app/assets/images/gina_crop.png" alt="">
            <h4>Gina Son</h4>
            <p class="text-muted">Developer</p>
            <div class="social-media">
              <a href="https://www.linkedin.com/in/albert-burchi-47607796/" class="fa fa-linkedin"></a>
              <a href="https://github.com/AdditionalTesting" class="fa fa-github"></a>
            </div>
            <ul class="list-inline social-buttons">
              <!-- <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="circle-img" src="/home/eiji/Desktop/bitmaker/projects/final-project/meet-in-the-middle/app/assets/images/stan_crop.png" alt="">
            <h4>Stanley Ma</h4>
            <p class="text-muted">Developer</p>
            <div class="social-media">
              <a href="https://www.linkedin.com/in/albert-burchi-47607796/" class="fa fa-linkedin"></a>
              <a href="https://github.com/AdditionalTesting" class="fa fa-github"></a>
            </div>
            <ul class="list-inline social-buttons">
            <li>
              <div class="fb-share-button"
                 data-href="http://www.google.com"
                 data-layout="button_count">
               </div>

            </li>
              <!-- <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
