<%= stylesheet_link_tag    'home', media: 'all' %>
<%= javascript_include_tag 'home' %>


<% if current_user %>

<section class="row">
  <div class="col-lg-12">
    <div class="col-lg-6">

  <div id="pac-container">
    <ul id = "address-container">
      <li id = "address">
      <input id="pac-input" type="text"
          placeholder="Point A"></li>
      <li id = "address"><input id="pac-output" type="text"
          placeholder="Point B"></li>
    </ul>
    <div id = "add-address">
      <button class="btn-sm btn-default" id="add" type="button" name="add">Add Address</button>
    </div>
    <input class="btn-default" type="button" value = "Refresh Page" onClick = "window.location.reload()">
  </div>
</div>

  <div class="col-lg-6">

    <select class="col-lg-4 form-control">
      <option value="restaurants">Restaurant</option>
      <option value="bars">Bar</option>
      <option value="cafe">Cafe</option>
      <option value="fitness">Fitness</option>
      <option value="movietheaters">Movie Theater</option>
      <option value="discgolf">Golf</option>
      <option value="bowling">Bowling</option>
      <option value="museums">Museums</option>
      <option value="festivals">Festivals</option>
    </select>

  <h3>Set Radius</h3>

  <div class="">
    <input type="range" min="500" max="2000" value="50" class="slider" id="myRange">
    <p><span id="demo"></span> Meters</p>
  </div>

  <input class="btn-primary" id="submit" type="submit" name="submit" value="submit">
</div>
</div>
</section>

  <div id="map"></div>
  <div class="photos">
    <ul id="yelp_info">

    </ul>
    </div>

<% else %>

  <div id = "add-address" style="display:none">
    <button id = "add" type="button" name="add">Add Address</button>
  </div>
  <div id="pac-container">
    <ul id = "address-container">
      <li id = "address">
      <input id="pac-input" type="text"
          placeholder="Point A"></li>
      <li id = "address"><input id="pac-output" type="text"
          placeholder="Point B"></li>
    </ul>
    <input type="button" value = "Refresh Page" onClick = "window.location.reload()" style="display:none">
    <select id = "categories" style="display:none">
      <option value="restaurants">Restaurant</option>
      <option value="bars">Bar</option>
      <option value="cafe">Cafe</option>
      <option value="fitness">Fitness</option>
      <option value="movietheaters">Movie Theater</option>
      <option value="discgolf">Golf</option>
      <option value="bowling">Bowling</option>
      <option value="museums">Museums</option>
      <option value="festivals">Festivals</option>
    </select>
  </div>


  <div id="map"></div>
  <div class="photos">
    <ul id="yelp_info">

    </ul>
    </div>

<% end %>
