<%= stylesheet_link_tag    'home', media: 'all' %>
<%= javascript_include_tag 'home' %>
<div id="pac-container">
  <input id="pac-input" type="text"
      placeholder="Point A">
  <input id="pac-output" type="text"
      placeholder="Point B">
  <input id = "submit" type="submit" name="submit" value="submit">
</div>

<h3>Set Radius</h3>

<div id="slidecontainer">
  <input type="range" min="500" max="2000" value="50" class="slider" id="myRange">
  <p><span id="demo"></span> Meters</p>
</div>

<div id="map"></div>
<div class="photos">
  <ul>

  </ul>
</div>
