<%= stylesheet_link_tag    'home', media: 'all' %>
<%= javascript_include_tag 'home' %>
<div id="pac-container">
  <input id="pac-input" type="text"
      placeholder="Point A">
  <input id="pac-output" type="text"
      placeholder="Point B">
  <input id = "submit" type="submit" name="submit" value="submit">
</div>

<div id="map"></div>
