<!DOCTYPE html>
<html>
  <head>
    <title>MeetInTheMiddle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASpwU31pil4vam6eKSjDFpiQdUGuzSGU8&callback=initMap&libraries=geometry,places"></script>
  </body>
</html>
